<div class="row justify-content-center">
  <div class="col-md-6 pt-5">
    <center><h3 class="text-white"><%= t ".login" %></h3></center>
    <div class="modal-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field text-white">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true,
            autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field text-white">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-check text-white mb-3">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit t(".login"), class: "form-control btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
