<%= form_with model: @song, local: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :title, class: "text-white" %>
  <%= f.text_field :title, class: "form-control" %>

  <%= f.label :img, class: "text-white" %>
  <%= f.file_field :img_url, class: "text-white", accept: "image/jpeg,image/png" %>

  <%= f.label :lyrics, class: "text-white" %>
  <%= f.text_area :lyrics, class: "form-control" %>

  <%= f.label :song, class: "text-white" %>
  <%= f.file_field :song_url, class: "text-white", accept: "audio/mp3" %>

  <%= f.label :singer, class: "text-white" %>
  <%= f.collection_select :singer_id, Singer.order(:name), :id, :name ,class: "form-control", include_blank: true %>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title">
          <%= link_to t(".not_found"), "#collapse1", data: {toggle: "collapse"} %>
        </p>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <%= f.fields_for :singer, local: true do |ff| %>
            <%= ff.label :singer_name, class: "text-white" %>
            <%= ff.text_field :name, class: "form-control" %>

            <%= ff.label :singer_description, class: "text-white" %>
            <%= ff.text_field :description, class: "form-control" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-success" %>
<% end %>
