<div class="content">
  <div class="row mt-5">
    <div class="col-3">
      <%= image_tag "play_music_circle.png", class: "w-100 rotate-img"%>
    </div>

    <div class="col-6">
      <h3 class="text-white">
        <%= @song.title %>
      </h3>

      <% if @song.singer %>
        <h4>
          <%= link_to @song.singer.name, singer_path(@song.singer.id) %>
        </h4>
      <% end %>

      <% if @song.genres.any? %>
        <span class="text-white"><%= t ".genres" %></span>
        <span>
          <%= render @supports.genres %>
        </span>
      <% end %>

      <h4 class="text-white">
        <%= t "songs.view" %>
        <%= @song.view %>
      </h4>

      <h5 class="text-white">
        <%= t "songs.post_at" %>
        <%= l @song.created_at %>
      </h5>
      <div class="mb-2">
        <%= render "count_likes", song: @song %>
        <% if user_signed_in? %>
          <div class="d-inline-block mt-2" id="like-form">
            <% if @supports.liked %>
              <%= render "dislike" %>
            <% else %>
              <%= render "like" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <%= link_to t(".add_playlist"), "#", class:
          "btn btn-success text-capitalize", data: {toggle: "modal",
          target: "#add_playlist"} %>
      <% end %>
      <%= link_to t(".download"), @song.song_url.url,
      class: "btn btn-info text-capitalize" %>
      <div class="mt-2">
        <%= social_share_button_tag(@song.title,
          allow_sites: %w(twitter facebook google_plus), desc: @song.title) %>
      </div>
    </div>

    <% if @song.singer %>
      <aside class="col-md-3 hot-music">
        <div class="just-for-u show-recommend">
          <h5 class="title"><%= t ".for_you" %></h5>
          <ul class="list-items">
            <% @supports.list_songs.each do |list| %>
              <li class="items d-flex align-items-center">
                <% if list.img_url.url %>
                  <%= link_to image_tag(list.img_url.url, class: "avatar"), song_path(list.id) %>
                <% else %>
                  <%= link_to image_tag("play", class: "avatar"), song_path(list.id) %>
                <% end %>
                <div class="present">
                  <%= link_to list.title, song_path(list.id), class: "name" %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </aside>
    <% end %>
  </div>

  <div class="row">
    <div class="col-9">
      <div class="mt-5">
        <audio controls loop>
          <source src="<%= @song.song_url.url %>" type="audio/mp3">
        </audio>
      </div>

      <div class="mt-5 mb-5">
        <p class="text-success"><%= t ".lyrics" %></p>
        <p class="text-white">
          <%= @song.lyrics %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-9 mb-5">
    <% if user_signed_in? %>
      <div class="row">
        <aside class="col-md-12">
          <div class="ajax-form-create">
            <%= render "shared/comment_form", song: @song, comment: @scomment %>
          </div>
        </aside>
      </div>
    <% end %>
    <%= render "comments/count_comment", song: @song %>
    <ul class="comments">
      <div class="notice"></div>
      <div class="div-create">
        <%= render @supports.comments %>
      </div>
    </ul>
    <%= paginate @supports.comments, theme: "twitter-bootstrap-4" %>
  </div>
</div>

<div class="modal fade" id="add_playlist" tabindex="-1" role="dialog"
  aria-labelledby="login_or_apply" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-add-playlist">
      <div class="modal-header bg-theme1">
        <h5 class="modal-title" id="login_or_apply">
            <%= t ".select_pl" %>
        </h5>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if user_signed_in? %>
          <%= render "add_playlist" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
